@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(47,19,109);
    height: 8vh;
}

#entrar {
    background: transparent;
    border-radius: 30px;
    padding: 10px;
    font-weight: 500;
}

#entrar:hover {
    color: #fff;
    background: rgb(95, 8, 167);
    opacity: 10;
}

.container figure.logo {
    background: url("background.jpg") no-repeat center center;
    position: relative;
    background-size: cover;
    height: 92vh;
}

.container figure.logo img {
    position: relative;
    top: 60px;
    left: 130px;
    width: 490px;
}

.nav-list {
    list-style: none;
    display: flex;
    font-weight: 300;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

#line1 {
    color: rgb(157, 90, 196);
    font-size: 40px;
    position: absolute;
    top: 240px;
    left: 130px;
}

#line2 {
    color: rgb(214, 214, 214);
    font-size: 40px;
    position: absolute;
    top: 290px;
    left: 130px;
}

#line3 {
    color: rgb(189, 123, 219);
    font-size: 40px;
    position: absolute;
    top: 340px;
    left: 130px;
}

#line4 {
    color: rgb(214, 214, 214);
    font-size: 40px;
    position: absolute;
    top: 390px;
    left: 130px;
}

form {
    position: absolute;
    top: 230px;
    right: 130px;
    display: flex;
    flex-direction: column;
    width: 24vw;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    color: #fff;
    margin-top: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.login input[type="text"], input[type="email"], input[type="password"] {
    background: rgb(139, 110, 177, 0.8);
    outline: none;
    font-size: 15px;
}

.login input::placeholder {
    color: rgb(255, 255, 255, 0.5);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background: rgb(139, 110, 177, 0.8);
    border-radius: 20px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: 0.2s;
    align-items: center;
    justify-content: center;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    color: #fff;
    background: rgb(95, 8, 167);
    opacity: 10;
    transition: 0.4s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    
    #logo-bookster {
        width: 30vw;
        position: relative;
        top: 5px;
    }
    
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 25vw;
        height: 92vh;
        background: linear-gradient(to bottom, rgb(47,19,109), rgb(111, 41, 158));
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        position: relative;
        left: 50px;
    }
}
    
.nav-list.active {
transform: translateX(0);
}
    
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}